body {background-color: #f0f0f0;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  
}

#game {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.number {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  margin: 10px;
  cursor: pointer;
}

.number.correct {
  background-color: #28a745;
}

.number.incorrect {
  background-color: #dc3545;
}

.target {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

.result {
  font-size: 24px;
  margin-top: 10px;
  color: #333;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.button:hover {
  background-color: #0069d9;
}